@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin full {
  width: 100%;
  height: 100%;
}

@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ease-out {
  transition: all 0.5s ease-out;
}
