// layout

#wrapper {
  width: 100vw;
  height: 100%;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8.5fr 7.2fr 0.6fr 3fr 2.4fr 1fr;
  grid-template-areas:
    'header header'
    'left right'
    'tag tag'
    'photo photo'
    'contact contact'
    'footer footer';
}

#header {
  grid-area: header;
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}

#tag {
  grid-area: tag;
}

#photo {
  grid-area: photo;
}

#contact {
  grid-area: contact;
}

#footer {
  grid-area: footer;
}

// header
.header {
  $header-title-size: 7rem;
  $header-title-spacing: 1.6px;
  $nav-item-spacing: 4.8px;
  $nav-item-margin: 3.5rem;
  width: 100%;
  height: 100%;
  background: url('../../dist/images/primary/background-header.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;

  display: flex;
  flex-flow: row wrap;
  // navigation
  .nav {
    flex-basis: 18%;
    @include flexbox-center;
    &-item {
      letter-spacing: $nav-item-spacing;
      margin-bottom: $nav-item-margin;
    }
  }
  // title
  &-box {
    flex-basis: 82%;
    text-transform: uppercase;
    position: relative;
  }
  &-title {
    font-size: $header-title-size;
    letter-spacing: $header-title-spacing;

    position: absolute;
    top: 50%;
    right: 35%;
  }
}

// left
.left {
  $left-title-size: 5rem;
  $left-title-spacing: 0;

  background: url('../../dist/images/section/background-left.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include flexbox-center;

  &-title {
    text-transform: uppercase;
    font-size: $left-title-size;
    letter-spacing: $left-title-spacing;
    color: $color-secondary;
  }
}

//right
.right {
  $right-title-size: 5rem;
  $right-title-spacing: 0;

  color: $color-secondary;
  font-family: $font-secondary;
  text-transform: uppercase;

  background: url('../../dist/images/section/background-right.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include flexbox-center;
  flex-direction: column;

  &-title {
    text-transform: uppercase;
    font-size: $right-title-size;
    letter-spacing: $right-title-spacing;
  }
  &-title-secondary {
    font-size: 3rem;
  }
}

// tag
.tag {
  @include flexbox-center;

  &-content {
    text-transform: uppercase;
    font-size: 1.73rem;
    letter-spacing: 1.6px;
  }
}

// photo
.photo {
  display: flex;
  flex-flow: row wrap;
  &-item {
    flex-basis: 20%;
  }
}

// contact
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form-contact,
  .customer-care {
    height: 100%;
  }

  .form-contact {
    flex-basis: 80%;
  }

  // form contact
  .form-contact {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-family: $font-secondary;
      font-size: 1.73rem;
    }

    form {
      margin-bottom: 2rem;

      .form-control {
        width: 60%;
        display: flex;
      }

      .form-contact-input {
        width: 100%;
        padding: 1rem 0.5rem;
        margin-right: 0.5rem;

        border-radius: 0;
        outline: none;
        border: 2px solid $color-primary;
      }

      .form-contact-submit {
        cursor: pointer;
        font-family: $font-secondary;
        background-color: $color-primary;
        color: $color-secondary;
        padding: 0 0.8rem;
        border-radius: 0;
        outline: none;
      }
    }

    .social {
      display: flex;

      &-item:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  // customer care

  .customer-care {
    flex-basis: 20%;

    @include flexbox-center;
    flex-direction: column;

    &-title,
    &-list {
      margin-bottom: 1rem;
      margin-right: auto;
    }

    &-title {
      font-family: $font-secondary;
      font-size: 2rem;
      text-transform: uppercase;
    }

    &-list {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}

// footer
.footer {
  &-list {
    height: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    @include flexbox-center;
  }
  &-item:not(:last-child) {
    margin-right: 2rem;
    padding-right: 1.6rem;
    border-right: 2px solid $color-primary;
  }
}
